nav {
  padding: 0.8rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
  background-color: #2DA0ED;
}

li {
  margin-right: 1.2rem;
}

a {
  font-size: 1.1rem;
  color: #FBFBFB;
}

.active {
  text-decoration: underline;
}