<div id="home"><!-- Início home -->
  <div id="picture"><!-- Inçio picture -->
    <div class="blur"><!-- Início blur -->

      <span id="image-copyright">Photo by Ana Amaral from FreeImages</span>
      
      <div id="icon-area" class="d-none d-md-block col-md-6 ">
      </div>

      <div id="content" class="container-fluid"><!-- Início container fluid -->
        <div class="row"><!-- Início row -->

          <div class="col-md-8 col-lg-7 ml-auto align-self-center">
            <h1 class="display-4 mx-auto col-12 col-sm-8 col-md-10 col-lg-8">Agende sua consulta</h1>
            <input type="button" value="Agendar" class="btn btn-light col-6 ">
            <h6>Não perca tempo!</h6>
          </div>

        </div><!-- /Fim row -->
      </div><!-- /Fim container-fluid -->
    </div><!-- /Fim blur -->
  </div><!-- /Fim picture -->
</div><!-- /Fim home -->